body {
    background-color: #efeef2;
    font-family: 'Chivo', sans-serif;
    overflow-x: hidden;
}

.logo {
    height: 3rem;
}

.navbar-brand img {
    height: 5.5rem;
}

.nav-slogan {
    height: 5.5rem;
}

.primary {
    background-color: #ab7dca
}

.secondary {
    background-color: #0B784A
}

.info {
    background-color: #838580
}

.heading {
    font-family: 'Shrikhand', cursive;
}

.btn-confirm {
    background-color: #ab7dca;
    color: #fff;
}

.card a {
    text-decoration: none;
    color: #0b784a;
}

.btn a {
    text-decoration: none;
    color: #fff;
}