{% extends "base.html" %}
{% load cloudinary %}

{% block content %}

<div class="container">
    <div class="row py-4">
        <!-- Advertisement detail -->
        <div class="col-lg-6">
            <h1>{{ advertisement.title }}</h1>
            <h4>Posted on <strong>{{ advertisement.posted_on }}</strong> by <strong>
                    {{ advertisement.created_by }}</strong>
            </h4>
            <h5>Category: {{ advertisement.category }}</h5>
            <p>Ad ID: {{advertisement.identifier }}</p>
            <p>Description:<br>
                {{ advertisement.description }}</p>
            <p><strong>Price: €{{ advertisement.price }}</strong></p>
            {% if user.is_authenticated and user == advertisement.created_by and advertisement.identifier %}
            <button class="btn btn-secondary secondary mt-3"><a href="{% url 'edit' advertisement.identifier %}">Edit
                    ad</a></button>
            <button class="btn btn-secondary info mt-3"><a
                    onclick="return confirm('Are you sure you want to delete this?')"
                    href="{% url 'delete' advertisement.identifier %}">Delete
                    ad</a></button>
            {% endif %}
            {% if user.is_authenticated and user != advertisement.created_by and advertisement.identifier %}
            {% if advertisement in user.saved_ads.all %}
            <button class="btn btn-secondary mt-3"><a href="{% url 'save' advertisement.identifier %}">Unsave
                    ad</a></button>
            {% else %}
            <button class="btn btn-secondary info mt-3"><a href="{% url 'save' advertisement.identifier %}">Save
                    ad</a></button>
            {% endif %}
            {% endif %}
        </div>
        <!-- Image section -->
        <div class="col-lg-6 pt-5">
            <div class="d-flex flex-wrap justify-content-between">
                {% if advertisement.image_1 %}
                {% cloudinary advertisement.image_1 format="jpg" width=300 height=300 crop="fill" alt="advertisement
                image 1" %}
                {% endif %}

                {% if advertisement.image_2 %}
                {% cloudinary advertisement.image_2 format="jpg" width=300 height=300 crop="fill" alt="advertisement
                image 2" %}
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Contact form section -->
    <div class="row">
        <div class="col-12">
            {% if user.is_authenticated and user != advertisement.created_by and advertisement.identifier %}
            <h3 class="heading pt-3">Contact {{ advertisement.created_by}} about this item</h3>
            <form method="POST" action="{% url 'ad_detail' advertisement.identifier %}">
                {% csrf_token %}
                {{ contact_form.as_p }}
                <div>
                    <p>
                        <button class="btn btn-secondary secondary mt-3" type="submit">Send
                            message</button>
                    </p>
                </div>
            </form>
            {% endif %}
        </div>
    </div>
</div>

{%endblock%}