{% extends "base.html" %}
{% block content %}

<h1>{{ advertisement.title }}</h1>
<h2>Posted on <strong>{{ advertisement.posted_on}}</strong> by <strong>{{ advertisement.user}}</strong></h2>
<h3>{{ advertisement.category }}</h3>
<p>{{ advertisement.description }}</p>
<p><strong>${{ advertisement.price }}</strong></p>

{% if user.is_authenticated and user == advertisement.created_by %}
<button><a href="{% url 'edit_ad' advertisement.identifier %}">Edit ad</a></button>
<button>Delete ad</button>
{% endif %}
{%endblock%}