{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html class="h-100">

<head>
    <title>got.</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chivo&family=Shrikhand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body class="d-flex flex-column h-100 w-100">
    <div class="container">

    </div>

    <!-- Navigation -->

    <nav class="navbar navbar-expand-lg navbar-light primary shadow">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}"><img src="../static/images/got-logo-white.png"
                    alt="got website logo"></a>
            <ul class="navbar-nav me-auto mb-1 fs-5">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'new_ad' %}">Post an
                        ad</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
            <span>
                <img class="navbar-text nav-slogan d-sm-block d-none" src="../static/images/got-slogan-navbar-white.png"
                    alt="you want it, you got it">
            </span>
        </div>
    </nav>


    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissable fade show" id="msg" role="alert">
        {{ message | safe }}
        <button type="button" class="btn-close ps-5" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}


    <main class="flex-shrink-0">
        {% block content %}
        <!-- Page content goes in this section -->
        {% endblock content %}
    </main>

    <!-- Footer -->
    <footer class="flex-wrap pt-3 bg-white shadow">
        <div class="row">
            <div class="col-6 ps-5">
                <p class="text-black text-left">Made by Holly Bailey</p>
            </div>
            <div class="col-6">
                <p class="text-black text-right ps-5">Connect with us on social media:
                    <i class="fab fa-twitter-square px-1 text-right"></i>
                    <i class="fab fa-instagram-square px-1 text-right"></i>
                    <i class="fab fa-youtube-square px-1 text-right"></i>
                </p>
            </div>
    </footer>
</body>

<!-- Scripts -->
<script>
    setTimeout(function () {
        let messages = document.getElementById("msg");
        let alert = new bootstrap.Alert(messages);
        alert.close();
    }, 3000)
</script>

</html>