{% extends "base.html" %}

{% block content %}
<!-- Form pulled from the Advertisement model appears in the template and allows 
the user to edit the existing Advertisement object. -->
<div class="container">
    <h1 class="py-4">Edit your ad:</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <p>
                <button class="btn btn-secondary secondary mt-3" type="submit">Update</button>
            </p>
        </div>
    </form>
</div>
{%endblock%}