{% extends "base.html" %}

{% block content %}

<!-- Hero Image -->
<div class="container-fluid px-0">
    <div class="row">
        <img class='img-fluid w-100 px-0' src="../static/images/hero-banner-intro.png" alt="" />
    </div>
</div>

<!-- Ad list -->
<div class="container flex-wrap py-5">
    <div class="row justify-content-between">
        <h2>Latest ads:</h2>
        {% for advertisement in advertisement_list %}
        <div class="card col-lg-3 my-2">
            <div class="card-body">
                <a href="{% url 'ad_detail' advertisement.identifier  %}">
                    <h4 class="card-title text-decoration-none">{{ advertisement.title }}</h4>
                </a>
                <h6 class="card-subtitle mb-2 text-muted">{{ advertisement.posted_on}}</h6>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{%endblock%}