{% extends "base.html" %}

{% block content %}
<div class="container py-4 ps-3">
    <h1>My details</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Username:</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Email address:</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Date joined:</th>
                <td>{{ user.date_joined }}</td>
            </tr>
        </tbody>
    </table>

    <h2 class="pt-2">Created ads</h2>
    {% for ad in user_ads %}
    <a href="{% url 'ad_detail' ad.identifier  %}">
        <h4>{{ ad.title }}</h4>
    </a>
    <p>{{ ad.posted_on }}</p>
    {% empty %}
    <p>No ads posted yet.</p>
    {% endfor %}

    <h2 class="pt-1">Saved ads</h2>
    {% for ad in saved_ads %}
    <a href="{% url 'ad_detail' ad.identifier  %}">
        <h4>{{ ad.title }}</h4>
    </a>
    <p>{{ ad.posted_on }}</p>
    {% empty %}
    <p>No ads saved yet.</p>
    {% endfor %}
</div>
{% endblock %}