{% extends "base.html" %}
{% load static %}
{% load cloudinary %}

{% block content %}
<!-- 'My Details section' -->
<div class="container">
    <div class="row py-4">
        <h1>My details</h1>
        <table class="table">
            <tbody>
                <tr>
                    <th>Username:</th>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <th>Email address:</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>Date joined:</th>
                    <td>{{ user.date_joined }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Created Ads section -->
    <div class="row">
        <h2 class="pt-2">Created ads</h2>
        <div class="row justify-content-start gap-5">
            {% for ad in user_ads %}
            <div class="card col-lg-2 my-2">
                {% if ad.image_1 %}
                {% cloudinary ad.image_1 format="jpg" class="card-img-top pt-2" alt="advertisement image" %}
                {% else %}
                <img class='card-img-top pt-2' src="{% static 'images/placeholder.jpg' %}" alt='placeholder image'/>
                {% endif %}
                <div class="card-body">
                    <a href="{% url 'ad_detail' ad.identifier  %}">
                        <h4>{{ ad.title }}</h4>
                    </a>
                    <h6 class="card-subtitle mb-2 text-muted">{{ ad.category}}</h6>
                    <p class="card-subtitle mb-2 small">{{ ad.posted_on}}</p>
                </div>
            </div>
            {% empty %}
            <p>No ads posted yet.</p>
            {% endfor %}
        </div>
    </div>
    <!-- Saved Ads section -->
    <div class="row mb-4">
        <h2 class="pt-4">Saved ads</h2>
        <div class="row justify-content-start gap-5">
            {% for ad in saved_ads %}
            <div class="card col-lg-2 my-2">
                {% if ad.image_1 %}
                {% cloudinary ad.image_1 format="jpg" class="card-img-top pt-2" alt="advertisement image" %}
                {% else %}
                <img class='card-img-top pt-2' src="{% static 'images/placeholder.jpg' %}" alt="placeholder image" />
                {% endif %}
                <div class="card-body">
                    <a href="{% url 'ad_detail' ad.identifier  %}">
                        <h4>{{ ad.title }}</h4>
                    </a>
                    <h6 class="card-subtitle mb-2 text-muted">{{ ad.category}}</h6>
                    <p class="card-subtitle mb-2 small">{{ ad.posted_on}}</p>
                </div>
            </div>
            {% empty %}
            <p>No ads saved yet.</p>
            {% endfor %}
        </div>
    </div>
    {% endblock %}